{% load static %}

<div style="width: 100%">
    <div style="
        width: 100%;
        max-width: 1280px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
      ">
        <div style="font-size: 30px">EX01</div>
        <div>
            <a href="{% url 'django' %}">Django</a>
            <a href="{% url 'display' %}">Display</a>
            <a href="{% url 'templates' %}">Templates</a>
        </div>
    </div>
</div>