<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
    <title>Main Page</title>
</head>

<body>

    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <span class="fs-4">Piscine Python Django</span>
        </header>

        <main>
            <h1>Day04</h1>
            <p class="fs-5 col-md-8">On with the serious business.</p>

            <div class="mb-5">
                <a href="/ex00" class="btn btn-primary btn-lg px-4">Ex00</a>
                <a href="/ex01/django" class="btn btn-primary btn-lg px-4">Ex01</a>
                <a href="/ex02" class="btn btn-primary btn-lg px-4">Ex02</a>
                <a href="/ex03" class="btn btn-primary btn-lg px-4">Ex03</a>
            </div>
        </main>
    </div>

</body>

</html>